.container1 {
     border: 4px solid #212529;
     background-color: #b70314;
     border-radius: 28px;
     padding: 10px;
     margin: 10px 0;
     color: white;
     font-size: 20px;
}

.darker {
  border-color: #212529;
      background-color: #28a745;
}

.container1::after {
  content: "";
  clear: both;
  display: table;
}

.container1 img {
  float: left;
  max-width: 50px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container1 img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
      float: right;
      color: #f8f9fa;
      font-size: 15px;
}

.time-left {
      float: right;
      color: #212529;
      font-size: 15px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin-top: 200px;
  background-color: #004085;
  padding: 10px 0 0 10px;
  font-size: 20px;
}
.square {
  height: auto;
  width: 810px;
  padding: 8px;
  background-color: #fff;
  border: 5px solid Black;

}

hr.new5 {
  border: 10px solid green;
  border-radius: 5px;
  margin-top:-10px;
}



/*---------------------*/
.chatbot-menubar{
    position: fixed;
    width: 808px;
    border: 5px solid black;
    margin-left: -21px;
    margin-top:-13px;
    background: #6c757d;
    height: 43px;
    color: white;
    font-size: 24px;
}







