th,td,tr{
border:2px solid black;
}
th{
background:green;
color:white;
font-size:20px;
}
.tablecs {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}
img {
  border-radius: 50%;
  width :60px;
  height:60px;
}

tr:nth-child(even){background-color: #e6e6e6}


